<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">WELCOME TO QUOTES APP!</h1>


    </div>

    <hr>

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <app-quote-form (addQuote)="addNewQuote($event)"> </app-quote-form>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
            <h2 align="center">QUOTES</h2>
            <div *ngFor='let quote of quotes;let i = index' class="quotation">
                <div>
                    <h6 id={{i}} appStrikethrough>{{quote.name}} </h6>
                    <button (click)='toggleDetails(i)' class="btn btn-primary">Details</button>
                </div>

                <div *ngIf='quote.showDescription'>
                    <span class="elapsed-duration">Published: {{quote.startDate|date|uppercase}} ago.</span>
                    <app-quotes-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quotes-detail>
                </div>


                <div class="quote-votes">

                    <button class="upvote btn btn-success btn-sm" (click)='upVote(i)'>Upvote</button>
                    <button class="downvote btn btn-secondary btn-sm" (click)='downVote(i)' style="margin-left: 20px;"> Downvote</button>

                </div>
                <div>
                    <p>
                        <span class="up">{{upvotes}} Upvotes</span>
                        <span class="down">{{downvotes}} Downvotes</span>
                    </p>
                </div>

            </div>

        </div>

    </div>

</div>