<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">WELCOME TO QUOTES APP!</h1>
        <p class="lead">Checkout all quotes</p>

    </div>
    <h2>QUOTES</h2>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes;let i = index' class="quotation">
                <div>
                    <h6 id={{i}} appStrikethrough>{{quote.name}} </h6>
                    <button (click)='toggleDetails(i)' class="btn btn-primary">Details</button>
                </div>

                <div *ngIf='quote.showDescription'>
                    <app-quotes-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quotes-detail>
                </div>
                <button class="btn btn-primary btn-sm" ng-click="incrementUp(member)">
                    <span class="glyphicon glyphicon-arrow-up"></span> Upvote</button> | <button class="btn btn-danger btn-sm" ng-click="incrementDown(member)"><span class="glyphicon glyphicon-arrow-down"></span> Downvote</button>
            </div>

        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"> </app-quote-form>
        </div>
    </div>
    <!-- <p *ngIf='quotes.length > 5'>You have too many goals</p> -->
</div>

<style>
    .btn {
        background-color: black;
    }
    /* * {
        background-color: pink;
    } */
    
    .display-3 {
        font-weight: bolder;
        color: darkturquoise;
    }
    
    .lead {
        color: darkturquoise;
    }
    
    .container {
        background-image: url("src/assets/bkpic.jpg");
    }
    
    .quotation {
        border: 2px solid darkturquoise;
        height: 250px;
        border-radius: 20px;
        box-shadow: 2px 2px 2px;
        text-align: center;
        margin-bottom: 15px;
    }
</style>